executor:
- command: '/home/ubuntu/.gaia/cosmovisor/current/bin/gaiad q block'
  parser:
  - '$.block.header.height'
#  - 'test=$.block.header.height'
- command: '/home/ubuntu/.gaia/cosmovisor/current/bin/gaiad q block | jq ''.block.last_commit.signatures | length'''
  parser:
  - 'validators=$'
  exporter:
  - 'validators_last_commit_signatures:Validators in block.last_commit.signatures.{"chain":"GOC","height":"${height}"} ${validators}'
# 可根据执行命令返回json结果，解析数据并生成监控指标
- command: '/home/ubuntu/.gaia/cosmovisor/current/bin/gaiad q gov proposals --output json --count-total --limit 10 --status voting_period'
  parser:
  - '$.proposals[0].voting_start_time'
  - '$.proposals[0].voting_end_time'
  - '$.proposals[0].proposal_id'
  exporter:
  - 'proposal:The latest proposal in the voting.{"chain":"GOC","start":"${voting_start_time}","end":"${voting_end_time}"} ${proposal_id}'

