executor:
# 可根据执行命令返回json结果，解析数据并生成监控指标
- command: '/apps/cosmos/release/gaiad q gov proposals --output json --count-total --limit 10 --status voting_period --reverse'
  parser:
  - '$.proposals[0].voting_start_time'
  - '$.proposals[0].voting_end_time'
  - '$.proposals[0].proposol_id'
  exporter:
  - 'proposal{"chain_id":"xxx","voting_start_time":"${voting_start_time}","voting_end_time":"${voting_end_time}"} ${proposol_id}'
